header.Header
  .Header__wrapper
    .logo
      img(src="/utils/logo.png").logo__image
    if isAuthorised
      ul.user
        li.user__item
          a(href="/profile").user__action #{firstname}
        li.user__item
          a(href="/logout").user__action Logout
    else
      ul.guest
        li.guest__item
          a(href='#login' onclick=`modalHandler(${JSON.stringify(log)})`).guest__action Войти
        li.guest__item
          a(href='#register' onclick=`modalHandler(${JSON.stringify(reg)})`).guest__action Зарегистрироваться
    
