- const log = "login"
- const reg = "register"
header.Header
  .logo
  //TODO: make IF statement to indetify user/guest
  // if isAuthorizated
  //.user etc...
  ul.guest
    li
      a(href='#login' onclick=`modalHandler(${JSON.stringify(log)})`).guest__action Войти
    li
      a(href='#register' onclick=`modalHandler(${JSON.stringify(reg)})`).guest__action Зарегистрироваться
  a(href='/secret').testShit Пройти в секрет
  // Modal window
  #modal.modal
    .modal-content
      span.modal__close &times;
      ul.actions
        li.actions__item
          a(href='#login' onclick=`modalHandler(${JSON.stringify(log)})`).actions__link Вход
        li.actions__item
          a(href='#register' onclick=`modalHandler(${JSON.stringify(reg)})`).actions__link Регистрация
      #login.action__content Вход
        form(action='/login', method='post')
          p Enter login and pass
          br
          p email:
            input(type='text', name='email')
          p password:
            input(type='password', name='password')
          input(type='submit', value='submit')
      #register.action__content Регистрация
        form(action='/register', method='post')
          p Leave your contacts
          br
          p First name:
            input(type='text', name='firstname')
          p Last name:
            input(type='text' name='lastname')
          p E-mail:
            input(type='email' name='email')
          p Password:
            input(type='password' name='password')
          input(type='submit', value='Submit')
    
