doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascript/header.js')
    script(src='/javascript/profile.js')
    script(src='/javascript/edit_file.js')
  body
    block content
