extends layout
block content
  include includes/header.pug
  .content.class1
    p HELLO #{name}, how are ya?
    img.profile-pic(src="data:image/jpeg; base64, " + avatar)
    form(action='/profile/upload/image', method='post', enctype='multipart/form-data')
      label(for="avatar-upload").custom-avatar-upload Изменить
      input(type='file', id='avatar-upload', name='avatar-upload', onchange='this.form.submit()')
  .files
    if !files
      .list-empty
        form(action='/profile/upload/files', method='post', enctype='multipart/form-data')
          label(for='files-upload').custom-files-upload <b> click here </b>  
          input(type='file', id='files-upload', name='files-upload', multiple, onchange='this.form.submit()')  
        p You don't have any files!      
        p drag'n'drop files in this section to upload
    else 
      form(action='/profile/upload/files', method='post', enctype='multipart/form-data')
        label(for='files-upload').custom-files-upload <b> click here </b>  
        input(type='file', id='files-upload', name='files-upload', multiple, onchange='this.form.submit()')
      ul.fles
        each file, index in files
          li.file
            a(href='/profile/download/files/' + file._id).file-download= index + ": " + file.name
            a(href='/profile/delete/files/' + file._id).file-delete delete file

