.Header {
    background-color: #414141;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1920px;
        width: 95%;
        margin: 0 auto;
    }
}

.user {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    &__action {
        text-decoration: none;
        color: #fff;
    }
}

.guest {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    &__action {
        text-decoration: none;
        color: #fff;
    }
}
