.Header {
    background-color: #414141;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1920px;
        width: 95%;
        margin: 0 auto;
    }
}

.user {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    &__action {
        text-decoration: none;
        color: #fff;
    }
}

.guest {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    &__action {
        text-decoration: none;
        color: #fff;
    }
}

.actions {
    font-weight: bold;
    font-size: medium;
    margin: 0 auto;
    height: auto;
    list-style-type: none;
    position: relative;
    float: center;
    &__item {
        float: left;
        position: relative;
        margin: 0 10px;
        border: 1px solid #273355;
        border-radius: 5px;
    }
    &__item::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 7px solid #fff;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    &__link {
        text-decoration: none;
        display: block;
        padding: 10px 40px;
        color: black;
        &-active {
            pointer-events: none;
            text-decoration: none;
            background-color: #747881;
            color: #d8d8d7;
        }
    }
    &__content {
        display: none;
    }
}

.action-form {
    width: 500px;
    margin: 20px 0 10px 20px;
    font-size: 20px;
    &__label {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    &__input {
        max-width: 80%;
        margin: 0 0 0 10px;
        font-size: 20px;
        border-bottom: 1px solid #7e7e7e;
    }
    &__input:focus {
        border-bottom: 1px solid #bdbcbc;
    }
    &__input::placeholder {
        color: #afafaf;
    }
    &__input:focus::placeholder {
        color: #cfcece;
    }
    &__button {
        cursor: pointer;
        padding: 10px;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #D9D8D5;
    }
    &__button:hover {
        background-color: #B3B6B4;
    }
}