body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.class1 {
  background-color: rgba(148, 255, 144, 0.4);
}
header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 8px;
  background-color: rgba(152, 140, 255, 0.4);
}
.guest__action {
  cursor: pointer;
  margin: 0 20px 0 0;
}
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal__close:hover,
.modal :focus {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.action__content {
  display: none;
}
.modal-content {
  width: 80%;
  padding: 20px;
  margin: auto;
  background-color: white;
}
.actions__item {
  padding: 5px;
}
.actions__link {
  padding: 3px;
}
.actions__link-active {
  pointer-events: none;
  text-decoration: none;
  background-color: rgba(76, 160, 160, 0.4);
  color: black;
}
footer {
  background-color: rgba(248, 120, 162, 0.4);
}
.profile-pic {
  width: 330px;
}
input[type='file'] {
  display: none;
}
.list-empty > p {
  font-size: large;
}
.files {
  background-color: rgba(168, 168, 255, 0.4);
  margin: 20px 0 0 0;
}
.custom-avatar-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #F0F0F0;
}
.custom-files-upload {
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  background-color: #a69d00;
  color: #fff200;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.file-delete {
  margin: 0 20px;
  color: rgba(163, 8, 47, 0.8);
}
.file-download {
  color: #0000c9;
}
.file-download:hover {
  color: #2424ff;
}
.file-download {
  text-decoration: none;
}
.files-list {
  font-size: large;
  display: grid;
  grid-template-columns: [col-start] auto [col-end];
  grid-template-rows: [header-start] 50px [header-end row-start] auto [row-end];
  border-top: 1px solid black;
  border-right: 1px solid black;
  overflow: hidden;
  background: rgba(201, 201, 201, 0.185);
}
.files-list > * {
  padding: 10px;
  position: relative;
}
.files-description {
  background-color: rgba(32, 32, 32, 0.39);
  grid-row: header;
  color: #fff;
}
.item span {
  position: relative;
  z-index: 2;
}
.item:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1000%;
  left: -1000%;
  z-index: 1;
}
.item:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  width: 1px;
  z-index: 2;
  background-color: rgba(114, 114, 114, 0.459);
}
.item:nth-child(4n+4)::after {
  bottom: -1px;
  right: 0;
  left: -1000%;
  height: 1px;
  z-index: 3;
  width: auto;
  top: auto;
  background-color: rgba(114, 114, 114, 0.459);
}
.item:hover::before {
  background-color: rgba(114, 114, 114, 0.459);
}
