.content {
    max-width: 1600px;
    &__wrapper {
        overflow: hidden;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    &__heading {
        color: grey;
        box-sizing: border-box;
        margin: 0 0 50px 0;
        text-align: center;
        font-size: 40px;
    }
}

.modal {
    z-index: 999;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    &__wrapper {
        min-height: 180px;
        margin: auto;
        padding: 3px;
        background-color: #fff;
        box-shadow: 0 0 10px 10px #888888;
        border-radius: 15px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__close {
        position: absolute;
        color: #aaaaaa;
        top: 0;
        right: 10px;
        font-size: 28px;
        font-weight: bold;
    }
    &__close:hover, :focus{
        cursor: pointer;
        color: #000;
        text-decoration: none;
    }    
}

.preview {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    padding: 20px 0;    
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    &__text {
        width: 70%;
    }
    &__picture {
        max-width: 100%;
        height: 250px;
        
    }
    &__description {
        line-height: 1.7;
        font-size: 25px;
    }
}

.purpose {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0;
    width: 80%;
    &__heading {
        font-size: 25px;
        color: grey;
        margin: 0 0 20px 0;
    }
    &__advantages {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 10px;
    }
    &__item {
        max-width: 300px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    &__label {
        font-size: 18px;
        color: grey;
    }
    &__text {
        margin-top: 5px;
        font-size: 15px;
    }
    &__image {
        flex-shrink: 0;
        margin-right: 10px;
        width: 64px;
        height: 64px;
    }
    &__description {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.slider {
    position: relative;
    padding: 20px;
    width: 80%;
    &__wrapper {
        margin: 0 auto;
        position: relative;
        width: 60%;
    }
    &__heading {
        font-size: 25px;
        color: grey;
        margin: 0 0 20px;
    }
    &__item {
        transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
        margin: 0 auto;
        width: 80%;
    }
    &__item--isVisible {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        opacity: 1;
        height: auto;
    }
    &__name {
        margin: 0 0 10px;
        font-size: 18px;
        color: grey;
    }
    &__text {
        font-size: 15px;
    }
    &__image {
        max-height: 200px;
        max-width: 300px;
        margin-right: 20px;
    }
    &__description {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 30%;
    }
    &__button {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        background-color: rgba(194, 194, 194, 0.7);
        font-size: 20px;
        &--display-previous {
            left: 0;
        }
        &--display-next {
            right: 0;
        }
        &--disabled {
            display: none;
        }
    }
}

.actions {
    font-weight: bold;
    font-size: medium;
    margin: 0 auto;
    height: auto;
    list-style-type: none;
    position: relative;
    float: center;
    &__item {
        float: left;
        position: relative;
        margin: 0 10px;
        border: 1px solid #273355;
        border-radius: 5px;
    }
    &__item::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 7px solid #fff;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    &__link {
        text-decoration: none;
        display: block;
        padding: 10px 40px;
        color: black;
        &-active {
            pointer-events: none;
            text-decoration: none;
            background-color: #747881;
            color: #d8d8d7;
        }
    }
    &__content {
        display: none;
    }
}

.action-form {
    width: 500px;
    margin: 20px 0 10px 20px;
    font-size: 20px;
    &__label {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    &__input {
        max-width: 80%;
        margin: 0 0 0 10px;
        font-size: 20px;
        border-bottom: 1px solid #7e7e7e;
    }
    &__input:focus {
        border-bottom: 1px solid #bdbcbc;
    }
    &__input::placeholder {
        color: #afafaf;
    }
    &__input:focus::placeholder {
        color: #cfcece;
    }
    &__button {
        cursor: pointer;
        padding: 10px;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #D9D8D5;
    }
    &__button:hover {
        background-color: #B3B6B4;
    }
}